body{
    background-color: beige;
    background-image: url('../Images/Rapnuzel.Tower.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-blend-mode:luminosity;
}

.content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color: whitesmoke;
    background-color: black;
    opacity: 50%;
}

.title
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
    color:whitesmoke;
}

#home{
    color:rgb(152, 152, 183);
}

#contact{
    color:rgb(152, 152, 183);
}

a:hover{
    text-decoration: underline;
}

a{
    text-decoration:none;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}